parameters:
    aw_facebook_auth.app_id:     162814780529831
    aw_facebook_auth.app_secret: 975327c999d61f9234130131241838d6

    # Scope is for example "email,user_birthday,read_stream".
    # By default, the scope includes basic information like the user's ID, name and locale.
    aw_facebook_auth.scope:      ~
